.App {
  text-align: center;
}

.App-header {
  background-color: #c4d1eb;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Products{
  width: 60px;
  height: 60px;
}
